# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Data files
!data/uploads/
!data/synthetic/*.csv
!data/synthetic/*.json

# ML model files
*.pkl
!ml/artifacts/*.joblib

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/